<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../styles/bootstrap-dark.min.css">
    <!-- CSS override -->
    <style> .card, .card-footer, .card-header, .table thead th, .table td { border: 0;} </style>
    <style> .table { background-color: transparent; } </style>
    <title>TinyApp - /u/<%= shortURL.id %></title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="card text-center">
        <div class="card-body">
          <h2 class="card-text">TinyURL - <a href="/u/<%= shortURL.id %>"><%= shortURL.id %></a></h2>
          <h5 class="card-title"><a href="<%= shortURL.longURL %>"><%= shortURL.longURL %></a></h5>
        </div>
        <div class="card-footer text-muted">
          <h4 class="card-text m-2">Update destination for /u/<%= shortURL.id %> </h4>
          <form class="form-group form-inline" method="POST" action="/urls/<%= shortURL.id %>?_method=PUT" >
          <div class="form-group m-auto">
            <h5 for="longURL" class= "m-auto" >New URL:</h5>
            <input class="form-control" type="text" name="longURL" placeholder="<%= shortURL.longURL.replace(/(^\w+:|^)\/\//, '') %>" style="width: 300px; margin: 1em">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          <%- include('partials/_alert') %>
      </div>
    </div>
      <table class="table text-muted text-center">
        <thead class="card-header" style="font-size: 0.9rem;">
          <tr>
            <% if (shortURL.hits) { %>
              <th scope="col" class="col-1"><strong>Visitor</strong></th>
              <th scope="col" class="col-3"><strong>Time Visited</strong></th>
              <th scope="col" class="col-1"><strong>Total Hits</strong></th>
              <th scope="col" class="col-3"><strong>Unique Visitors</strong></th>
            <% } %>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <% let firstRow = true; %>
          <% for (const {visitorID, timestamp} of shortURL.visits.slice(0, 30)) { %>
            <tr>
              <td style="padding: 0.3em 0.75em;"><%= visitorID %></td>
              <td style="padding: 0.3em 0.75em;"><%= timestamp %></td>
              <% if (firstRow) { %>
              <td style="padding: 0.3em 0.75em;"><strong><%= shortURL.hits %></strong></td>
              <td style="padding: 0.3em 0.75em;"><strong><%= shortURL.uniqueVisitors %></strong></td>
              <% firstRow = false; } %>
            <% } %>
          </tr>
        </tbody>
      </table>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>